    <!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">

    </head>
    <body>
    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" th:fragment="header">

        <span style="font-weight: bold; margin-left: 1em">  Welcome Taha KAMIL </span>

        <!-- Sidebar Toggle (Topbar) -->
        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
        </button>


        <!-- Topbar Navbar -->
        <ul class="navbar-nav ml-auto">




            <div class="topbar-divider d-none d-sm-block"></div>

            <a href="/signout" class="btn btn-secondary btn-icon-split">
                        <span class="icon text-white-50">
                          <i class="fas fa-sign-out-alt"></i>
                        </span>
                <span class="text">Sign Out</span>
            </a>


        </ul>

    </nav>
    </body>
    </html>